.VerAlquilerCard {
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: .2em solid black;
}
.ntitulo{
    font-size: 1.8em;
    
}
.verA{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

