.admin{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: aquamarine;
    color: black;
    
    width: 100vw;
    flex-direction: column;
}
.adminb{
    margin: 1em;
    font-size: 1.5em;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}