.header{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    background-color: black;
    color: white;
    height: 5em;
    width: 100vw;
}
.navlink{
    all: unset;
    margin: 3em;
    font-size: 1.5em;
}
.navlink:hover{
    color:rgb(0, 174, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;

}
.menu_header{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 75em;
}
.registrarse{
    display: flex;
    justify-content: center;
    align-items: right;
    height: 3em;
    width: 4em;
}
.logo{
    margin: 1em;
    width: 4em;
    height: 4em;
}
.login{
    display: flex;
    justify-content: center;
    align-items: right;
    height: 3em;
    width: 5em;
}
.busqueda{
    width: 12em;
    height: 2em;
}