.login{
    height: 100vh;
    width: 100vw;   
}

.loginDesign {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sendButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 5em;
    background-color: purple;
    color: white;
    margin-top: 4em;
    border-radius: 1em;
}